*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lightBulb{
    width: 200px;
    margin-inline: auto;
    padding-block: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .lightBulbItem{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .red {
        background-color: red;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(255, 0, 0) 0px -12px 30px,
          rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.893) 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .yellow {
        background-color: yellow;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgb(255, 234, 0) 0px -12px 30px, rgba(200, 255, 3, 0.12) 0px 4px 6px,
          rgba(255, 234, 0) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .green {
        background-color: green;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, green 0px -12px 30px,
          rgba(0, 0, 0, 0.12) 0px 4px 6px, green 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }

}