* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  padding: 10px 20px;
  width: 80%;
  margin-inline: auto;
}
.container .header {
  position: relative;
}
.container .header .warning {
  position: fixed;
  font-size: 30px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 50%);
  z-index: 100;
  color: #f27a1a;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}
.container .header .header_nav {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  align-items: center;
}
.container .header .header_nav .header_nav_logo .header_nav_logo_link {
  color: black;
  font-size: 40px;
}
.container .header .header_nav .header_nav_form {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-right: 80px;
}
.container .header .header_nav .header_nav_form .header_nav_form_input {
  border: none;
  width: 100%;
  background-color: transparent;
  padding: 14px 20px;
}
.container .header .header_nav .header_nav_form .header_nav_form_input:focus {
  outline: 1px solid #f27a1a;
  border-radius: 10px;
}
.container .header .header_nav .header_nav_form .header_nav_form_searchbtn {
  position: absolute;
  right: 0;
  top: 50%;
  color: #f27a1a;
  font-size: 22px;
  transform: translate(-50%, -50%);
}
.container .header .header_nav .header_nav_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.container .header .header_nav .header_nav_menu .header_nav_menu_item {
  color: #333333;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}
.container .header .header_nav .header_nav_menu .header_nav_menu_shops {
  position: relative;
}
.container .header .header_nav .header_nav_menu .header_nav_menu_shops .header_nav_menu_shops_number {
  position: absolute;
  left: 20px;
  top: -10px;
  color: #f27a1a;
}
.container .main {
  margin-top: 20px;
}
.container .main .main_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.container .main .main_products .main_products_item {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 20px;
  padding-block: 10px;
  position: relative;
}
.container .main .main_products .main_products_item .main_products_item_img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  border-radius: 10px;
}
.container .main .main_products .main_products_item .main_products_item_bottom {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .main .main_products .main_products_item .main_products_item_bottom .main_products_item_bottom_name {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.container .main .main_products .main_products_item .main_products_item_bottom .main_products_item_bottom_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.container .main .main_products .main_products_item .main_products_item_bottom .main_products_item_bottom_price .main_products_item_bottom_price_shopBtn {
  color: #f27a1a;
  cursor: pointer;
}
.container .main .main_products .main_products_item .main_products_item_bottom .main_products_item_bottom_price .main_products_item_bottom_price_shopBtn span {
  font-size: 32px;
}
.container .main .main_products .main_products_item .main_products_item_heartIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(-80%, 30%);
  cursor: pointer;
}
.container .main .main_products .main_products_item .main_products_item_heartIcon i {
  font-size: 20px;
  color: #000000;
}
.container .main .main_products .main_products_item .main_products_item_heartIcon .fa-solid {
  color: #f27a1a;
}/*# sourceMappingURL=style.css.map */